@model CadeteriaRemake.Entidades.Cadete;

<h3>Se cargo el usuario <span class="text-info">@Model.Nombre</span> a la base de datos</h3>
<!--<form asp-for="AltaCadete" method="post" class="form col-sm-12 col-md-8 col-lg-6 mx-auto shadow p-3 mb-4 bg-white rounded aplicable">
    <div class="form-group">
        <label asp-for="Nombre">Nombre</label>
        <input type="text" asp-for="Nombre" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Direccion">Direccion</label>
        <input type="text" asp-for="Direccion" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Telefono">Telefono</label>
        <input type="text" asp-for="Telefono" class="form-control">
    </div>
    <button type="submit" class="btn btn-block btn-primary">Dar Alta</button>
</form>-->