/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
/*COLORES*/
* {
    --scroll-thumb: rgba(0, 0, 0, 0.40);
    --scroll-primary: #0d6efd;
    --scroll-secondary: #6c757d;
    --scroll-success: #198754;
    --scroll-danger: #dc3545;
    --scroll-warning: #ffc107;
    --scroll-info: #0dcaf0;
    --scroll-light: #f8f9fa;
    --scroll-dark: #343a40;
    --scroll-white: #fff;
}


/*ESTILOS GENERALES*/
.side-ul {
    position: absolute;
    list-style: none;
    width: 14em;
    padding: 1em 1em 0em 1em;
    /*animation-name: sideNavToggle;
    animation-duration: .4s;
    animation-timing-function: ease-out;*/
}

.side-ul-hide {
    position: absolute;
    list-style: none;
    width: 14em;
    padding: 1em 1em 0em 1em;
    /*animation-name: sideNavToggleHide;
    animation-duration: .4s;
    animation-timing-function: ease-out;*/
}

.side-ul-pic {
    border-radius: .4em;
}

/*ANIMACIONES*/
@keyframes sideNavToggle {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes sideNavToggleHide {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

/*ESTILOS SCROLLBAR*/
.overflow {
    scrollbar-width: thin;
}

    .overflow::-webkit-scrollbar {
        width: 12px;
    }

    .overflow::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: var(--scroll-thumb);
    }
